<configuration debug="false">
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>target/hauth.%d{yyyy-MM-dd}.log</fileNamePattern>
      <immediateFlush>true</immediateFlush>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="info.freelibrary.util" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.vertx" level="WARN" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.swagger.v3.parser" level="WARN" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.csveed" level="WARN" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
